<div class="container">
  <div class="row">
    <div class="card border-info mb-3" style="max-width: 18rem;">      
      <div class="card-body text-info">
        <h5 class="card-title">Action</h5>        
      </div>      
      <button [routerLink]="'/explore-genre/action'" class="btn btn-info">Explore</button>      
    </div>
    <div class="card border-info mb-3" style="max-width: 18rem;">
      <div class="card-body text-info">
        <h5 class="card-title">Thriller</h5>
      </div>
      <button [routerLink]="'/explore-genre/thriller'" class="btn btn-info">Explore</button>
    </div>
  </div>

  <div class="row">
    <div class="card border-info mb-3" style="max-width: 18rem;">
      <div class="card-body text-info">
        <h5 class="card-title">Suspense</h5>
      </div>
      <button [routerLink]="'/explore-genre/suspense'" class="btn btn-info">Explore</button>
    </div>
    <div class="card border-info mb-3" style="max-width: 18rem;">
      <div class="card-body text-info">
        <h5 class="card-title">Spying</h5>
      </div>
      <button [routerLink]="'/explore-genre/spying'" class="btn btn-info">Explore</button>
    </div>
  </div>

  <div class="row">
    <div class="card border-info mb-3" style="max-width: 18rem;">
      <div class="card-body text-info">
        <h5 class="card-title">Comedy</h5>
      </div>
      <button [routerLink]="'/explore-genre/comedy'" class="btn btn-info">Explore</button>
    </div>

    <div class="card border-info mb-3" style="max-width: 18rem;">
      <div class="card-body text-info">
        <h5 class="card-title">Fiction</h5>
      </div>
      <button [routerLink]="'/explore-genre/fiction'" class="btn btn-info">Explore</button>
    </div>
  </div>
</div>